@scfhq:registry=https://nexusmaster.alm.europe.cloudcenter.corp/repository/scq-iac-snapshots/SCF/
registry=https://nexus.alm.europe.cloudcenter.corp/repository/npm-public/
always-auth=true
strict-ssl=false

# registry=http://nexus.cicdinf.hcbe.cert.corp/repository/npm-group/
